PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/lumina-lms
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRE=7d

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Cloudflare R2 / AWS S3 Config
R2_ENDPOINT=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_access_key
R2_SECRET_ACCESS_KEY=your_secret_key
R2_BUCKET_NAME=lumina-lms-pdfs
R2_PUBLIC_DOMAIN=https://pub-xxxxxx.r2.dev
